body {
    text-align: center;
    font-size: larger;
}

div {

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.results > h3 {
    font-size: 3rem;
}

.results > p {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #00bf63;
}