@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

html, body {
    background: rgb(53,53,53);
    background: linear-gradient(90deg, rgba(53,53,53,1) 30%, rgba(0,0,0,1) 100%);
    color: white;
}