<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="script.js" type="module"></script>
    <title>TerraTest</title>
</head>
<body>
    <h1>TerraTest</h1>
    <h2>Find out a planet's survivability score!</h2>
    <h2>404 Not Found</h2>
</body>
</html>