<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="landing.css">
    <title>TerraTest</title>
</head>
<body>
    <h1>TerraTest</h1>
    <h2>Find out whether or not you can live on a planet!</h2>
    <h3>Pick a planet from within our solar system down below, or input your own data about a planet of your choice!</h3>
</body>
</html>