<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="landing.css">
    <title>TerraTest</title>
</head>
<body>
    <div class="img-wrap">
        <img src="space.jpg" alt="" srcset="">
    </div>
    <div class="wrap">
        <h1 id="title">TERRATEST</h1>
        <div id="desc">
            <h2>Find out whether or not you can live on a planet!</h2>
            <h2 class="link" style="margin-top: 2rem"><a href="/test"><i>TerraTest</i> your planet now!</a></h2>
        </div>
    </div>
    <div class="cpr">
        &copy; Abhay Bhat, Alan Di, Cadin Le, Jonathan Chiu - 
        EMP Fall 2024 Hackathon
    </div>
</body>
</html>